/* Google Font */
* {
    padding: 0;
    margin: 0;
}

input[type=text],
input[type=number]::-webkit-input-placeholder,
html,
body,
button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

:root {
    --var-primary-color: #2C3333;
    --var-secondary-color: #395B64;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--var-primary-color);
    color: white;
}

main {
    max-width: 1024px;
    width: 85%;
    margin: auto;
    padding: 12px;
}

.input-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 3px solid black;
    border-radius: 8px;
}

.input-form h2 {
    color: var(--var-primary-color);
    text-align: center;
}

.input-form>form>.form-element>input[type=text],
input[type=number] {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    width: 95%;
    padding: 8px;
    margin: 12px 0px;
    border: 2px solid black;
    border-radius: 6px;
}

.input-form>form>#formSubmit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#formSubmit>button {
    cursor: pointer;
    font-size: 1.25rem;
    width: 75%;
    padding: 12px;
    background-color: var(--var-secondary-color);
    color: white;
    border: 1px solid var(--var-primary-color);
    border-radius: 8px;
}

/* Radio button container */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 16px;
}

/* Hide the actual radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #CCC;
    border-radius: 50%;
}

/* Show the indicator when radio button is checked */
.radio-container input:checked~.radio-checkmark:after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #395B64;
}

/* Hover effect */
.radio-container:hover .radio-checkmark {
    background-color: #EEE;
}

/* Radio button label */
.radio-label {
    margin-left: 30px;
}

.search-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin: 12px 0px;
    border: 3px solid black;
    border-radius: 8px;
}

.search-book h2 {
    color: var(--var-primary-color);
    text-align: center;
}

.search-book>form {
    width: 100%;
    display: grid;
    grid-template-columns: 8% 60% 25%;
    grid-gap: 8px;
}

.search-book>form>label {
    width: 100%;
}

.search-book>form>input {
    width: 100%;
    padding: 4px;
    margin: 0px 24px 0px 0px;
    border: 1px solid black;
    border-radius: 4px;
}

.search-book>form>button {
    cursor: pointer;
    width: 100%;
    padding: 4px;
    margin: 0px 0px 0px 24px;
    text-align: center;
    background-color: var(--var-secondary-color);
    color: white;
    border: 1px solid var(--var-primary-color);
    border-radius: 8px;
}

.bookShelf {
    padding: 24px;
    margin: 12px 0 0 0;
    border: 3px solid black;
    border-radius: 8px;
}

.bookShelf>.bookList {
    padding: 12px;
}

.bookShelf>.bookList>.bookItem {
    padding: 18px;
    margin: 12px 0 0 0;
    border: 1px solid black;
}

.bookShelf>.bookList>.bookItem>button {
    padding: 8px;
    margin: 8px 16px 0 0;
    color: var(--var-primary-color);
    border: 1px solid var(--var-primary-color);
    border-radius: 8px;
}

.bookShelf>.bookList>.bookItem>button:hover {
    cursor: pointer;
    background-color: var(--var-primary-color);
    color: white;
    transition: ease-in 100ms;
}

.resetData {
    padding: 24px;
    margin: 12px 0 0 0;
    border: 3px solid black;
    border-radius: 8px;
}

.resetBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.resetBtn>button {
    cursor: pointer;
    font-size: 1.25rem;
    width: 75%;
    padding: 12px;
    background-color: var(--var-secondary-color);
    color: white;
    border: 1px solid var(--var-primary-color);
    border-radius: 8px;
}


footer {
    padding: 24px;
    margin: 12px 0 0 0;
    background-color: var(--var-primary-color);
    color: white;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .search-book>form {
        display: flex;
        flex-direction: row;
    }

    .search-book>form>label {
        font-size: 0.75rem;
        flex-basis: 15%;
    }

    .search-book>form>input {
        flex-basis: 70%;
    }

    .search-book>form>button {
        flex-basis: 15%;
        margin-left: -16px;
    }
}

@media screen and (max-width: 320px) {
    .bookItem {
        padding: 8px;
        margin: 10px 0 8px 0;
        font-size: 0.5rem;
    }

    .bookItem button {
        display: block;
        padding: 4px;
        margin: 0 0 8px 0;
        font-size: 0.5rem;
    }

    .resetBtn button {
        padding: 6px;
        font-size: 0.75rem;
    }
}